:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

/* Шапка */
.header {
  border: 1px solid #ececec;
}

.header > .container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item {
  position: relative;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts .link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;

  fill: currentColor;
}

/* Страница index.html */

/* Герой */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Качества */
.qualities {
  padding-bottom: 0;
}

.qualities-list {
  display: flex;
}

.qualities-list > .item {
  width: calc((100% - 3 * 30px) / 4);
}

.qualities-list > .item + .item {
  margin-left: 30px;
}

.qualities-icon {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background: var(--secondary-bg-color);
}

.qualities-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.works-list {
  display: flex;
}

.works-item {
  position: relative;
}

.works-item + .works-item {
  margin-left: 30px;
}

.works-name {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team {
  background-color: var(--secondary-bg-color);
}

.team-members {
  display: flex;
}

.team-card {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card + .team-card {
  margin-left: 30px;
}

.team-card > .avatar {
  margin-bottom: 30px;
}

.team-members .name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members .position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks-item + .social-networks-item {
  margin-left: 10px;
}

.social-networks-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: #afb1b8;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-networks-link > .icon {
  fill: currentColor;
}

/* Клиенты */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item > .link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item > .link:hover,
.clients-item > .link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-item .icon {
  fill: currentColor;
}

/* Страница portfolio.html */

/* Фильтры */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item + .filters-item {
  margin-left: 8px;
}

.filters-button {
  display: inline-block;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Карточки проектов */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--primary-white-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-description {
  position: absolute;
  left: 0;
  top: 100%;

  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .projects-description {
  transform: translateY(-100%);
}

.projects-caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects-name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer > .container {
  display: flex;
}

.footer-nav {
  margin-right: 70px;
  width: 231px;
}

.footer .logo {
  display: inline-block;
  margin-right: 156px;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address-item + .address-item {
  margin-top: 9px;
}

.geolocation {
  color: var(--primary-white-color);
  font-style: normal;
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.join {
  width: 206px;
  margin-top: 12px;
  margin-right: 93px;
}

.join-phrase {
  display: inline-block;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer .social-networks-link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-networks-link:hover,
.footer .social-networks-link:focus {
  background-color: var(--accent-color);
}

.subscription {
  width: 570px;
  margin-top: 12px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border-radius: 4px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* outline: transparent; */
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button-icon {
  margin-left: 10px;

  fill: var(--primary-white-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопка закрытия */
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  background: var(--primary-white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.modal-phrase {
  display: inline-block;
  margin-bottom: 12px;

  font-style: normal;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--title-text-color);
}

/* Форма для заполнения */
.form-field {
  position: relative;

  display: block;
  width: 100%;
}

.form-field + .form-field {
  margin-top: 10px;
}

.field-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
  position: absolute;
  left: 15px;
  top: 29px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus,
.field-comment:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .field-icon {
  fill: var(--accent-color);
}

.form-checkbox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  background-color: var(--primary-white-color);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
